In [5]:
#iseed homework3
#연습문제

In [6]:
#04 다음은 장학생, 합격, 불합격으로 구분하는 중첩 if 문입니다. 이를 if ~ elif 문으로 변경하세요.

score = int(input("점수를 입력하세요: "))

if score >= 90:
    print("장학생", end='')
elif score >= 60:
    print("합격", end='')
else:
    print("불합격", end='')

print("입니다. ^^")

장학생입니다. ^^

In [7]:
# 05 다음 코드의 2~5행을 삼항 연산자로 변경한 것으로 옳은 것을 고르세요.
num = 5
res = '짝수' if num % 2 == 0 else '홀수'
print(res)

#정답3

홀수

In [10]:
# 06 다음 각 코드를 실행한 후에, nn에 저장된 값을 쓰세요. 단, nn은 항상 보기의 5개 데이터가 저장되어 있다고 가정합니다.

nn = [ 100, 200, 300, 400, 500]
nn[1] = 777
nn[1:4] = [444, 555]
nn[1] = [444, 555]
nn[2:] = []

print(nn)

[100, [444, 555]]

In [11]:
#9 for 문을 사용해서 3333부터 9999까지의 숫자 중에서 1234의 배수의 합계를 구하되, 합계가 100000(십만)이 넘기 직전까지만 합계를 구하는 코드를 작성하세요. 단, 코드에는 continue와 break를 모두 사용해서 작성하세요.

sum = 0  
for num in range(3333, 10000):  
    if num % 1234 != 0:  
        continue
    if sum + num > 100000: 
        break
    sum += num  

print(sum)

40722

In [12]:
#8 다음은 for 문을 사용해서 1234부터 4567까지 444의 배수의 합계를 구하는 코드입니다. while 문으 로 변경해서 코드를 다시 작성하세요.

hap = 0
n = 1234  

while n <= 4567: 
    if n % 444 == 0:  
        hap += n  
    n += 1  

print(hap)

23088

In [15]:
# 14 심화문제 다음 코드를 실행한 후 myData에 저장된 값이 무엇인지 쓰세요.

myData = [[n * m for n in range(1, 3)]for m in range(2, 4)]

print(myData)

[[2, 4], [3, 6]]

In [16]:
# 5 다음 각 코드가 출력하는 것을 쓰세요.

nn = [100, 200, 300, 400, 500]


results = {
    "nn[4]": nn[4],
    "nn[-1]": nn[-1],
    "nn[-2]": nn[-2],
    "nn[1:4]": nn[1:4],
    "nn[0:1]": nn[0:1],
    "nn[2:-1]": nn[2:-1],
    "nn[0::2]": nn[0::2],
    "nn[::-1]": nn[::-1],  
    "nn[::-2]": nn[::-2]
}

results

{'nn[4]': 500,
 'nn[-1]': 500,
 'nn[-2]': 400,
 'nn[1:4]': [200, 300, 400],
 'nn[0:1]': [100],
 'nn[2:-1]': [300, 400],
 'nn[0::2]': [100, 300, 500],
 'nn[::-1]': [500, 400, 300, 200, 100],
 'nn[::-2]': [500, 300, 100]}